<a href="https://colab.research.google.com/github/simonefmr/datascience_mvp/blob/main/SCR_MVP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SCR_MVP**

O objetivo deste projeto é avaliar a evolução do endividamento das pessoas físicas no Brasil, no ano de 2022, conforme registro feito pelas instituições financeiras e comunicados ao Banco Central através do Sistema de Informações de Créditos (SCR).

In [2]:
# Exemplo de substituição
# Dataframe["coluna"] = 
# Dataframe["coluna"].str.replace(",",".")

In [3]:
# Importação de pacotes
import pandas as pd
import os
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import requests
from sklearn.preprocessing import MinMaxScaler # normalização
from sklearn.preprocessing import StandardScaler # padronização
from sklearn.preprocessing import OrdinalEncoder # ordinal encoding
from sklearn.preprocessing import OneHotEncoder # one-hot encoding e dummy encoding

In [4]:
pd.__version__

'1.4.4'

In [20]:
# Importação de dados
# Lê o arquivo

url = 'https://github.com/simonefmr/datascience_mvp/blob/main/database_202201csv.csv'

In [21]:
colunas = ['data_base', 'uf', 'tcb', 'sr', 'cliente', 'ocupacao', 'cnae_secao','cnae_subclasse', 'porte', 'modalidade', 'origem', 'indexador', 'numero_de_operacoes', 'a_vencer_ate_90_dias', 'a_vencer_de_91_ate_360_dias', 'a_vencer_de_361_ate_1080_dias', 'a_vencer_de_1081_ate_1800_dias', 'a_vencer_de_1801_ate_5400_dias', 'a_vencer_acima_de_5400_dias', 'vencido_acima_de_15_dias', 'carteira_ativa', 'carteira_inadimplida_arrastada', 'ativo_problematico']

In [25]:
dataset = pd.read_csv(url, on_bad_lines='skip', names=colunas, sep=',')

In [26]:
dataset.shape

(1114, 23)

In [27]:
dataset.head(10)

,data_base,uf,tcb,sr,cliente,ocupacao,cnae_secao,cnae_subclasse,porte,modalidade,...,a_vencer_ate_90_dias,a_vencer_de_91_ate_360_dias,a_vencer_de_361_ate_1080_dias,a_vencer_de_1081_ate_1800_dias,a_vencer_de_1801_ate_5400_dias,a_vencer_acima_de_5400_dias,vencido_acima_de_15_dias,carteira_ativa,carteira_inadimplida_arrastada,ativo_problematico
0,<!DOCTYPE html>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"<html lang=""en"" data-color-mode=""auto"" data-li...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,<head>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"<meta charset=""utf-8"">",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"<link rel=""dns-prefetch"" href=""https://githu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"<link rel=""dns-prefetch"" href=""https://avata...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"<link rel=""dns-prefetch"" href=""https://githu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"<link rel=""dns-prefetch"" href=""https://user-...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"<link rel=""preconnect"" href=""https://github....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"<link rel=""preconnect"" href=""https://avatars...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pd.DataFrame(dataset.dtypes, columns = ['Tipos de Dados'])

                               Tipos de Dados
data_base                              object
uf                                     object
tcb                                    object
sr                                     object
cliente                                object
ocupacao                               object
cnae_secao                             object
cnae_subclasse                         object
porte                                  object
modalidade                             object
origem                                 object
indexador                              object
numero_de_operacoes                    object
a_vencer_ate_90_dias                   object
a_vencer_de_91_ate_360_dias            object
a_vencer_de_361_ate_1080_dias          object
a_vencer_de_1081_ate_1800_dias         object
a_vencer_de_1801_ate_5400_dias         object
a_vencer_acima_de_5400_dias            object
vencido_acima_de_15_dias               object
carteira_ativa                         object
carteira_inadimplida_arrastada         object
ativo_problematico                     object